* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	overflow: hidden;
}

/* GALLARY design */
#gallary {
	transition: all 0.35s linear;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	min-height: 100vh;
	background-color: #070713;
}

.img-card {
	width: 6rem;
	height: 480px;
	margin: 0.5rem;
	overflow: hidden;
	border-radius: 1rem;
	position: relative;
	cursor: pointer;
	background-color: #24242436;
	transition: all 0.25s ease-in-out;
}

.img-card.active {
	width: 30vw;
}

.img-card:not(.active):hover {
	box-shadow: 0 24px 32px -12px #f5f5f5;
}

.img-card img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.img-card label {
	padding: 1.5rem;
	/* border: 1px solid #fff3; */
	border: none; /*TEMP*/
	/* border-radius: 2rem; */
	/* transform: rotate(90deg); */
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 2;
	color: white;
	/* backdrop-filter: blur(8px) brightness(85%);
	-webkit-backdrop-filter: blur(8px) brightness(85%); */
	background: rgb(255, 255, 255);
	background: linear-gradient(
		180deg,
		rgba(255, 255, 255, 0) 0%,
		rgba(66, 66, 66, 0.34226190476190477) 11%,
		rgba(0, 0, 0, 1) 100%
	);
	font-size: 2rem;
	font-weight: 600;
	word-break: break-all;
	text-transform: uppercase;
	writing-mode: vertical-rl;
	text-orientation: mixed;
}

.img-card.active label {
	backdrop-filter: blur(8px) brightness(85%);
	-webkit-backdrop-filter: blur(8px) brightness(85%);

	background: none;
	writing-mode: horizontal-tb;
	font-size: 1.25rem;
	bottom: 1rem;
	left: 1rem;
	right: 1rem;
	border-radius: 16px;
}

.img-card label span {
	display: block;
	font-size: 0rem;
	text-transform: none;
	padding-top: 0.5;
	font-weight: 400;
}
.img-card.active label span {
	transition-delay: 0.2s;
	font-size: 1rem;
}

.trans-1rem {
	transform: translateY(1rem);
}
.trans-2rem {
	transform: translateY(3rem);
}
.trans1o5rem {
	transform: translateY(1.5rem);
}
.trans-2o3rem {
	transform: translateY(2.3rem);
}
.trans-1o2rem {
	transform: translateY(1.2rem);
}

/* .roller #rolltext {
	position: absolute;
	top: 0;
	animation: slide 5s infinite;
} */

/* @keyframes slide {
	0% {
		top: 0;
	}
	25% {
		top: -4rem;
	}
	50% {
		top: -8rem;
	}
	72.5% {
		top: -12.25rem;
	}
} */

/* Full page expansion design */

.fa {
	transition: 1s;
	color: #f5f5f5;
	font-size: 2.5vw;
}

.modal-content {
	height: 0;
	width: 0;
	margin: 0;
}

.hidden {
	display: none;
}
